<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date_and_author"> <%= post.created_at.strftime("%d/%m/%Y %H:%M") %> </p>
	</div>
<% end %>